node_modules
dist
dist-ssr
*.local
.env
.env.test

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*

# Prisma
server/prisma/migrations/**/migration_lock.toml
